<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Use iisnode to serve node.js apps -->
      <add name="iisnode" path="dist/src/main.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Redirect all requests to dist/src/main.js -->
        <rule name="StaticContent">
          <action type="Rewrite" url="dist/src/main.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <!-- Increase the request size limit to 100MB -->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>

    <directoryBrowse enabled="false" />
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
