<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configura IIS para manejar la aplicación Node.js -->
    <handlers>
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Configuración de los permisos de ejecución -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Reescritura de URL para enrutamiento de una sola página -->
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="^dist/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="dist/index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Control de errores y gestión de salida de la aplicación -->
    <httpErrors existingResponse="PassThrough" />
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
